# Luna Open Payments (PSD2 / Open Banking)
OPEN_PAYMENTS_CLIENT_ID="af94d111-9cf0-4177-8a7d-c1954503591e"
OPEN_PAYMENTS_CLIENT_SECRET="BC1eER3UlUMLaPOHlesnyf5KXhVqLsMr7P8SWuOfy5U"
OPEN_PAYMENTS_ENV=sandbox

# Zwapgrid (Accounting / ERP)
ZWAPGRID_API_KEY=
ZWAPGRID_CONSENT_ID=
